<?php 

// BASIC CONF
$host_name     = exec("hostname"); 
$branch        = "master";
$mail_to       = "mail@gmail.com";
$password      = "secretPass.1";
$repo_path     = "/var/www/myrepo";

// STOP EDITING !

