<?php 

// BASIC CONF
$hostname     = exec("hostname"); 
$branch        = "master";
$mail_to       = "mail@gmail.com";
$password      = "secretPass.1";
$repo_path     = "/var/www/myrepo";
$reseti        = false; 

// STOP EDITING !

